body{
    margin: 0;
    background: #f4f4f4;
    padding-top: 5%;
}
main{
    width: 50%;
    margin: auto;
}
#firstname{
    width: 100%;
    height: 30px;
}
#email{
    width: 100%;
    height: 30px;
}
#message{
    width: 100%;
    height: 40px;
}
label{
    color: #544f4f;
    font-family: 'Glegoo', serif;
}
.button{
    color: #f4f4f4;
    font-family: 'Glegoo', serif;
    background: #333333;
    width: 75px;
    height: 30px;
}